<form method="post" enctype="multipart/form-data">
  {% csrf_token %}  <!-- CSRF protection token for POST form -->
  <fieldset>
    <legend>Account</legend>
    {{ u_form.as_p }}  <!-- Render UserUpdateForm fields -->
  </fieldset>
  <fieldset>
    <legend>Profile</legend>
    {% if user.profile.avatar %}
      <img src="{{ user.profile.avatar.url }}" alt="avatar" width="100">  <!-- Display current avatar if exists -->
    {% endif %}
    {{ p_form.as_p }}  <!-- Render ProfileUpdateForm fields -->
  </fieldset>
  <button type="submit">Save</button>
</form>
